/* src/components/Navbar/Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;

  background: transparent;

  z-index: 1000;

  transition: all 0.3s ease;
}

.navbar-scrolled {
  background: #ffffff;
  box-shadow: 0 2px 12px rgba(0,0,0,0.08);
}

.navbar-logo {
  height: 50px;
}

.navbar-right {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navbar-right li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  position: relative;
}

/* underline animation */

.navbar-right li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background: #c8102e;
  transition: width 0.3s ease;
}

.navbar-right li a:hover::after {
  width: 100%;
}

/* active section highlight */

.active-link {
  color: #c8102e;
}

/* hamburger menu */

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #000;
  margin: 4px;
  transition: 0.3s;
}

/* mobile */

@media (max-width: 768px) {

  .hamburger {
    display: flex;
  }

  .navbar-right {
    position: absolute;
    top: 80px;
    right: 0;

    background: white;

    flex-direction: column;

    width: 220px;

    padding: 20px;

    transform: translateX(100%);
    transition: transform 0.3s ease;

    box-shadow: -2px 0 10px rgba(0,0,0,0.1);
  }

  .navbar-right.open {
    transform: translateX(0);
  }

  .cta-btn a {
  background-color: #c8102e;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  transition: background 0.3s;
}

.cta-btn a:hover {
  background-color: #a50e25;
}

}